body {
    background-color: #ADEAEA;
    font-family: "Skia", "Arial";
    text-align: center;
}

#yes {
    color: green;
}

#no {
    color: red;
}

.bubble {
  background-color: white;
  border: 0.2em solid;
  border-radius: 25px;
  padding: 0.3em;
  top: 1em;
  font-size: 1em;
  margin: 15px;
}

