
h2 {
    font-family: "Arial";
    text-align: center;
}

div {
    font-family: "Arial";
    text-align: center;
}

#yes {
    color: green;
    font-size: 500%;
}

#no {
    color: red;
    font-size: 500%;
}
